{
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ],
  "printWidth": 120,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false
}
